#tabzilla {
  margin: 0 auto;
  width:294px;
  left: calc(50%-142px);
  position: relative;
}
#tabzilla a {
  text-indent: 120%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url('pictures/tabzilla-static.svg');
  background-repeat: no-repeat;
  display: block;
  height: 71px;
  position: relative;
  width: 294px;
  z-index: 2;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #tabzilla a {
    background-image: url('pictures/tabzilla-static-high-res.svg');
    -webkit-background-size: 294px 71px;
    background-size: 294px 71px;
  }
}
#tabzilla:before {
    background-color: transparent;
  content: '';
  display: none;
  height: 26px;
  left: 28px;
  position: absolute;
  top: 0;
  width: 88px;
  z-index: 1;
}
html[dir='rtl'] #tabzilla {
  float: left;
}
